:root {
    --main-bg: #F5F4EF;
    --mid-tone: #5B7DB1;
    --light-tone: #61A4BC;
    --accent-dark: #1A132F;
    --dark-bg: #1C1427;
}

body {
    background-color: var(--main-bg);
    font-family: "Poppins", sans-serif;
    /* text-align: center; */
    margin: 0 auto;
    text-align: center;
}

hr {
    border-style: none;
    border-top-style: solid;
    border-color: grey;
    border-width: 2px;
    height: 2px;
    width: 10px;
}

h1 {
    color: var(--accent-dark);
    font-size: 3em;
    font-weight: 800;
    margin: 30px auto 0 auto;
    /* line-height: 2; */
}

h2 {
    color: var(--light-tone);
    font-size: 2.5em;
}

h3 {
    color: var(--accent-dark);
    font-size: 2em;
}

h4 {
    color: var(--mid-tone);
    font-size: 1.5em;
}

h5 {
    color: var(--main-bg);
}

h6 {
    color: var(--light-tone);
    font-size: 1em;
    font-weight: 500;
}

p {
    color: var(--dark-bg);
    line-height: 2;
    font-size: 1em;
}

a {
    color: var(--mid-tone);
    text-decoration: none;
}

a:hover {
    color: white;
}

ul {
    text-decoration: none;
}

li {
    display: inline;
    padding: 5px 30px;
}

/************************************** NAVBAR ****************************************/
.nav-content {
    float: right;
}

.logo {
    float: left;
}

/************************************ MAIN CONTAINER **************************************/
.main-container {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(7, minmax(300px, auto));
}

/************************************** CONTAINERS ****************************************/
.banner {
    background-color: var(--main-bg);
}

.thoughts {
    background-color: var(--dark-bg);
    /* min-height: 300px; */
    position: relative;
}

.work {
    background-color: var(--main-bg);
}

.skills {
    background-color: var(--dark-bg);
}

.about-me {
    background-color: var(--main-bg);
    width: 70%;
    margin: auto;
}

.footer {
    background-color: var(--light-tone);
}

/**************************************CLASS SELECTORS****************************************/
/********************************* BANNER *************************************/
.top-container {
    /* min-height: 450px; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: end;
    justify-content: center;
}

.profile-image {
    height: 400px;
    width: auto;
}

/* .banner-content {

} */
.my-name {
    color: var(--mid-tone);
}

/******************************** THOUGHTS ************************************/
.thought-box {
    background-color: #E5E5E5;
    margin: auto;
    width: 70%;
    padding: 1em;
    box-shadow: 5px 10px grey;
    /* positioning div inside div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* to style the inner content */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

/* .thought-topic {

} */
.thought-content {
    font-size: 1.2vw;
}

/********************************* WORK *************************************/
.work-row {
    clear: both;
    width: 70%;
    margin: 50px auto;
    text-align: left;
}

.code-img {
    width: 30%;
    height: auto;
    float: left;
    margin-right: 30px;
}

.tronic-img {
    width: 30%;
    height: auto;
    float: right;
    margin-left: 30px;
}

/********************************* SKILLS *************************************/
.skill-content {
    display: grid;
    grid-template-columns: repeat(6, 150px);
    grid-gap: 15px;
    justify-content: center;
    justify-items: center;
}

/* .skill-box {

} */
.skills p, .skills h3 {
    color: var(--main-bg);
}

/******************************** ABOUT ME ************************************/
.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
}

.btn button {
    padding: 30px;
    margin: 40px;
    color: var(--dark-accent);
    background-color: var(--light-tone);
}

/******************************** FOOTER ************************************/

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 50px ;
}
